# **Getting Started with Python!**

Python is a popular programming language that is reliable, flexible, easy to learn, free to use on all operating systems, and supported by both a strong developer community and many free libraries (Libraries are pre-written codes that developers use to solve common programming tasks).

Python supports all manners of development, including web applications, web services, desktop apps, scripting, data science, scientific computing, and Jupyter notebooks. Python is a language used by many universities, scientists, casual developers, and professional developers alike.

Python is a **high level programming Language**. This simply means that the commands used in Python are understandable by humans. These commands are then converted into machine code by using an interpreter.

You can learn more about the language on [python.org](https://www.python.org/) and [Python for Beginners](https://www.python.org/about/gettingstarted/)..

##  Why use Python for learning AI ?

# Python is more often than not the top most choice for Machine Learning Applications. The main reason for this is the amount of **simplicity, consistency and stability** Python code can bring to AI workflows.

The simplest of AI workflows require extensive mathematical functions running in the background. The wide variety of stable and user friendly **libraries** like Scikit-Learn (used for handling basic Machine Learning algorithms like clustering, linear and logistic regressions, etc.), Matplotlib (used for creating bar charts, histograms and other data visualizations) etc provide great support for building scalable and efficient code. We shall cover more on these in the later sessions.

Another reason why python is easy to use is that you **do not need to declare variable types** unlike other programming languages. A variable is the name you give to a value you want to store and use later.

For example, let's say you would like to create a variable called money to store some numerical value of money, in Python you would only need to assign a value to the word 'money' to use it, in other programming languages, this requires a variable type declaration before use.

Now that we have understood why we have chosen Python as our programming language, let's get started with basic commands we will come across frequently in our AI journey!

**Some tips before we begin:**

In [ ]:
# 1) This box is called a Cell in a Notebook environment.
# 2) Do try to follow along with your facilitator by pressing the Run button(left of the cell)

## Comments

Many of the examples in this notebook include comments. Comments in Python start with the hash character, `#`, and extend to the end of the physical line. A comment may appear at the start of a line or following whitespace or code, but not within the quotation marks `""` or `''` of a String itself. A hash character between quotation marks is just a hash character. Since comments are to clarify code and are not interpreted by Python, they may be omitted when typing in examples.

Some examples:

In [17]:
# This is the first comment
number = 1  # and this is the second comment
          # ... and now a third!
'#Meanwhile, this is not a comment'

Welcome = "Hi welcome to your first Python Program!"
print(Welcome) #This is the 'print' Command

Hi welcome to your first Python Program!

# Explore Data Types in Python!

##  What is Python ?

Although we do not have to declare a type for python variables, a value does have a type. These are data types we will be covering in this Notebook:
1. Numbers
2. Strings
3. Lists
4. Tuples
5. Dictionary

In [18]:
x = 'hello'
x = ["I", "Love", "AI"]
x = 2.5
x = True #Boolean type, only has true or false, think of an on-off switch

## Numbers

The Python interpreter can act as a simple calculator: type an expression at it outputs the value.

Expression syntax is straightforward: the operators `+`, `-`, `*` and `/` work just like in most other programming languages (such as Pascal or C); parentheses (`()`) can be used for grouping and order or precedence. For example:

In [19]:
56 + 28
69 - 2
2 * 5
((2+1) * 4) / 3

4.0

The integer numbers (e.g. `2`, `4`, `20`) have type [`int`](https://docs.python.org/3.5/library/functions.html#int), the ones with a fractional part (e.g. `5.0`, `1.6`) have type [`float`](https://docs.python.org/3.5/library/functions.html#float).

The major difference is float can be used for both integers and decimals.

We can use the type() function to find which data type a variable belongs to.

In [20]:
roll_number = 1234
marks = 52.5
print ("Datatype for roll_number is",type(roll_number))
print ("Datatype for marks is",type(marks)) #Notice that we did not declare either of the variables with a particular datatype

Datatype for roll_number is <class 'int'>
Datatype for marks is <class 'float'>

Division (`/`) always returns a float. To do [floor division](https://docs.python.org/3.5/glossary.html#term-floor-division) and get an integer result (discarding any fractional result) you can use the `//` operator; to calculate the remainder you can use `%`:

In [21]:
13 / 5  # Division using the '/' operator returns a float.

2.6

In [22]:
13 // 5  # Floor division (division which uses the '//' operator) discards the fractional part.

2

In [23]:
13 % 5  # The '%' operator returns the remainder of the division.

3

Use the `**` operator to calculate powers:

In [24]:
12**2 # This will print the square of '12'

144

In [25]:
2**6 # This will print 2 to the power 6

64

`**` has higher precedence than `-`; if you want a negative base, use parentheses:

In [26]:
-4**2 #Result will be same as -(4**2)

-16

In [27]:
(-4)**2

16

The equal sign (`=`) is used for assigning values to a variable

In [28]:
weight = 50
total_people =12
weight * total_people

600

If a variable is not defined (i.e assigned a value) then using it results in an error

In [40]:
# n Accessing an undefined variable.

In addition to `int` and `float`, Python supports other types of numbers, such as [`Decimal`](https://docs.python.org/3.5/library/decimal.html#decimal.Decimal) and [`Fraction`](https://docs.python.org/3.5/library/fractions.html#fractions.Fraction). Python also has built-in support for [complex numbers](https://docs.python.org/3.5/library/stdtypes.html#typesnumeric), and uses the `j` or `J` suffix to indicate the imaginary part (e.g. `3+5j`).

## Strings

Strings are a sequence of characters. Besides numbers, Python can also manipulate strings. Strings can enclosed in single quotes `'...'` or double quotes `"..."` with the same result. Use \ to escape quotes, that is, to use the `'` within the string itself:

In [41]:
string="What skills have you learnt today ?"
type(string)

str

In [42]:
'Learn Python for AI' # Using Single Quotes

'Learn Python for AI'

In [37]:
'Isnt this fun?' # The backslash \ here is to denote that you would like to use the ' symbol in a string rather than ending it

'Isnt this fun?'

In [36]:
# This is what happens otherwise, an error will be produced as the characters after the quotes will be seen as codes by Python
'Isnt this fun?'

'Isnt this fun?'

In [43]:
"Isnt this fun? "# ...or use double quotes instead.

'Isnt this fun? '

In the interactive interpreter and Jupyter notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise its enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [45]:
'"Isnt this fun?," she said.'

'"Isnt this fun?," she said.'

In [47]:
print('"Isnt this fun?," she said.')

"Isnt this fun?," she said.

In [62]:
# Let's create a variable s to store our String

s = 'First line nSecond line'  #\n means newline.
s  # Without print(), \n is included in the output.

'First line nSecond line'

In [60]:
# Calling the print function to display the value of variable s
print(s)  # With print(), \n produces a new line.

First line nSecond line.

If you don't want escaped characters (prefaced by \) to be interpreted as special characters, use raw strings by adding an r before the first quote:

In [51]:
print('C:\some\name')  #Similar to the example above, the Print function interpretes \n as a newline

C:\some
ame

In [50]:
print('C:\some\name')  #Note the usage of r here to give you the desired output

C:\some
ame

Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal(anything enclosed in quotes `""`) which appears as the output of a code cell:

In [66]:
###
"""Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?"""

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-66-fad105eabea7>, line 4)

For this reason, it's best in notebooks to use the # comment character at the beginning of each line, or better still, just use a Markdown cell!

## Data manipulation

Data manipulation is any change of data from the original, this can be as minor as sorting sentences or words by alphabetical order, or more advanced using libraries such as NumPy which we shall explore in the later sessions.
For the purpose of this introduction, we shall explore some techniques and methods of data manipulation done on Strings

Strings can be concatenated (joined together) with the + operator, and repeated with *:

In [67]:
# 2 times 'jo', followed by 'rabbit'
2 * 'jo' + 'rabbit'

'jojorabbit'

Two or more *string literals* (that is, the values enclosed in quotes `""` or `''`) placed next to each other are automatically concatenated(joined together):

In [68]:
'Data' 'Science'

'DataScience'

Automatic concatenation works only with two literals; it does not work with variables or expressions, so the following cell produces an error:

In [69]:
prefix = 'Data'
prefix = 'Science'  # Can't concatenate a variable and a string literal.

To concatenate variables, or a variable and a literal, use `+`:

In [70]:
prefix = 'Data'
prefix + 'Science'

'DataScience'

Automatic concatenation is particularly useful when you want to break up long strings:

In [71]:
word = ('Put several strings within parentheses '
            'to have them joined together.')
word

'Put several strings within parentheses to have them joined together.'

**Note: In programming, the first number is actually 0! Look up `Zero-based numbering` for more details**

Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate `character` data type; a character is simply a `string` with 1 element

In [74]:
word = 'Python'
print("Length of the word Python is:",len(word)) # This gives you 6

print(word[0])  # This gives you 'P' the first character of the string 'Python'

Length of the word Python is: 6
P

In [75]:
word[5]  # This gives you'n' the last character of the string 'Python'

'n'

Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In [76]:
word[-1]  # Last character.

'n'

In [77]:
word[-2]  # Second-last character.

'o'

In addition to indexing, which extracts individual characters, Python also supports *slicing*, which extracts a substring. To slice, you indicate a *range*(In math, range is defined as the difference between the highest and lowest values, for example range of `3:9` is 9 - 3 = `6`) in the format `start:end`, where the start position is included but the end position is excluded:

In [78]:
word[0:2]  # Only characters in the range of position 0 to 2.

'Py'

In [79]:
word[2:5]  # Only characters in the range of position 2 to 5

'tho'

If you omit either position, the default start position is 0 and the default end is the length of the string:

In [80]:
word[:2]   # :2 is 0 to 2

'Py'

In [81]:
word[4:]  # 4: is 4 to 5

'on'

In [82]:
# This one is tricky! -2 is the 2nd last character, so this is equivalent to the above
word[-2:]

'on'

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*. For example:

```
+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```

The first row of numbers gives the position of the indices 0...6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is 2.

Attempting to use an index that is too large results in an error:

In [90]:
word[5]  #The word only has 6 characters.

'n'

However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [91]:
word[4:36]

'on'

Strings are immutable which means they do not support assignment of a new value to an indexed postion. To know more on what immutable means, check this [link](https://docs.python.org/3.5/glossary.html#term-immutable). Let's check the example below to understand it in practise

In [93]:
word[2]='a'

TypeError: 'str' object does not support item assignment

The following cell also produces an error:

In [94]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

A slice it itself a value that you can concatenate with other values using `+`:

In [95]:
'J' + word[1:]

'Jython'

In [96]:
word[:2] + 'Py'

'PyPy'

A slice, however, is not a string literal and cannot be used with automatic concatenation. The following code produces an error:

In [97]:
word[:2] 'Py'    # Slice is not a literal; produces an error

SyntaxError: invalid syntax (<ipython-input-97-60be1c701626>, line 1)

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [98]:
text = 'Using Python for data science is fun'
len(text) #Notice that even the spaces are counted in the length

36

# Lists

A list is an **ordered** sequence of items, meaning items in the list are stored in the `order` of which it was input.
Remember, a list may contain different types of items.
To define a list, you must put values separated with commas in square brackets.

In [ ]:
Students=['Vicky',25,'Jun Kai',12] # Here the name of the student is stored with their respective roll numbers
type(Students)

list

Lists are mutable(can be changed or updated) unlike Strings. Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [99]:
Students[0]  # Indexing returns the item.

NameError: name 'Students' is not defined

In [100]:
Students[-1]

NameError: name 'Students' is not defined

In [ ]:
Students[-3:]  # Slicing returns a new list.

[25, 'Jun Kai', 12]

In [102]:
Students[:]

NameError: name 'Students' is not defined

Lists also support concatenation with the `+` operator:

In [ ]:
Students + ['Gabrielle',13, 'Cao', 47]

['Vicky', 25, 'Jun Kai', 12, 'Gabrielle', 13, 'Cao', 47]

As mentioned at the start, unlike strings, which are immutable, lists are a mutable type, which means you can change any value in the list:

In [ ]:
Students=['Vicky',25,'Jun Kai',12] #Something is wrong here....
#Vicky's roll number is 10

In [103]:
Students[1]=10 #correcting the wrong value
Students

NameError: name 'Students' is not defined

Use the list's `append()` method to add new items to the end of the list:

In [104]:
Students.append('Isaac') #Note you can only add one argument at a time
Students

NameError: name 'Students' is not defined

In [105]:
Students.append(15) #Adding the second argument
Students

NameError: name 'Students' is not defined

You can even assign to slices, which can change the size of the list or clear it entirely:

In [110]:
#Replace some values
Students[2:5]=['Ming Ian', 21]
Students

NameError: name 'Students' is not defined

In [106]:
# Now remove them.
Students [2:5] = []
Students

NameError: name 'Students' is not defined

The built-in len() function also applies to lists:

In [107]:
len(Students)

NameError: name 'Students' is not defined

You can nest lists, which means to create lists that contain other lists. For example:

In [108]:
a = ['a', 'b', 'c'] #List 1
n = [1, 2, 3] #List 2
x = [a, n] # List x now contains List 1 and List 2
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0] # The first element of the nested list is List 1
x[1] # The second element of the nested list is list 2
print ("List 1:",x[0])
print ("List 2:",x[1])

List 1: ['a', 'b', 'c']
List 2: [1, 2, 3]

In [109]:
#This would give you, the 2nd element of List 1, which is 'b'
x[0][1]

'b'

# Tuples

A tuple is an ordered sequence of items. You might be wondering now then how is it different from lists?

The main differences between tuples and lists are :
1. Tuples cannot be modified element wise like lists (Objects which cannot be modified in such a manner are described as **immutable** objects.
2. Tuples use parentheses, whereas lists use square brackets.

In [112]:
Students_new = ('Susan',25,'John',12) #Tuple being defined
print(Students_new)

('Susan', 25, 'John', 12)

In [113]:
Students_new[1]= '26'
print(Students_new) #Notice the error which shows up in the output

TypeError: 'tuple' object does not support item assignment

# Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form **key:value**. Key and value can be of any type.

A Dictionary in Python works similar to the Dictionary in a real world. Keys of a Dictionary must be unique and
of immutable data type such as Strings, Integers and tuples, but the key-values can be repeated and be of any type.

You might want to use a Dictionary over Tuples as it is quicker to access data if the data source is substantially large as finding data in Tuples requires looping which we will go through later

In [114]:
Time={'Day':'Monday','Date':[1,2,3]}
type(Time)
Time['Day'] #Using key to display respective value

'Monday'

In [117]:
Time['Monday'] #Reverse cannot be done, i.e using value one cannot display key

KeyError: 'Monday'

# Type-Conversion in Python

As the name suggests, type-conversion in Python is the process of converting one data type to another. This can be done into two ways :

**1. Implicit Type Conversion** - In this type of type-conversion, Python automatically converts one data-type to another data-type. The user need not give specific instructions for carrying this conversion out.

**2. Explicit Type Conversion** - In Explicit type-conversion, the user sets preference from converting one data-type to another desired data-type.

In [118]:
integer = 150
float_n = 1.55

add = integer + float_n

print("datatype of integer:",type(integer))
print("datatype of float_n:",type(float_n))

print("Value of add:",add)
print("datatype of add:",type(add))

datatype of integer: <class 'int'>
datatype of float_n: <class 'float'>
Value of add: 151.55
datatype of add: <class 'float'>

In the above example we can clearly see how python implicitly set up the data-type of the variable 'add'. Let's try adding a string and an integer to see what happens!

In [122]:
string = '300'
new = integer + string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [123]:
integer = 150
string = "300"

print("Data type of integer:",type(integer))
print("Data type of string before explicit conversion:",type(string))

string = int(string)
print("Data type of string after explicit conversion:",type(string))

new = integer + string

print("Sum of integer and string:",new)
print("Data type of the sum:",type(new))

Data type of integer: <class 'int'>
Data type of string before explicit conversion: <class 'str'>
Data type of string after explicit conversion: <class 'int'>
Sum of integer and string: 450
Data type of the sum: <class 'int'>

Explicit type conversion is also known as **"Typecasting"**. The major difference between them is the **involvement of the user** and the fact that in implicit conversion, Python gives **preference to data type which would avoid data loss**. For example if we are adding a float with an int type the result would always be float else the sum would get truncated if the result is converted into int, thus resulting in loss of data.

# Flow Control in Python

In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times.

Programming languages provide various control structures that allow for more complicated execution paths.

A loop statement allows us to execute a statement or group of statements multiple times.

For more infortmation click [here](https://www.tutorialspoint.com/python/python_loops.htm)

**If-Else Statement**

A situation where this may be used is when you would like to check for a condition(user-defined) to allow a particular code to execute, such as checking for password from user input.

In [124]:
a,b = 2,3 #This is a way to assign values to multiple variables in the same line

if a > b: #If a is greater than b, print the value of a
    print("a") #Indentation using the `Tab` key is important to denote that this print("a") is for the first if statement
else:
    print("b")#else print the value of b

b

In [125]:
a = 7
#If a is greater than the value 6, execute the statement below it
if a > 6:
     print(f"{a} is good")

7 is good

**While Loop**

A while loop in python iterates till its condition becomes False. In other words, it executes the statements under itself while the condition it takes is True. When the program control reaches the while loop, the condition is checked. If the condition is true, the block of code under it is executed. Remember to indent all statements under the loop equally. After that, the condition is checked again. This continues until the condition becomes false. Then, the first statement, if any, after the loop is executed.

In [126]:
a = 0 #Assign the value 0 to the variable a

#The condition of this loop is to run *while* the value of a is LESS THAN 9
while(a < 9):
    print(a) #This print is to demonstrate how the condition functions in a loop using an number increment
    a += 1

print("Loop has ended at 8, can you tell why?")

0
1
2
3
4
5
6
7
8
Loop has ended at 8, can you tell why?

**For Loop**

A for loop does the same thing as the example in the while loop, but makes it simpler to write and understand. For more information, click [here](https://data-flair.training/blogs/python-loop/)

In [ ]:
for i in range(10): #This statement creates a for loop that runs 10 times and stops
    print(i)

In [127]:
lst=[0,1]

for i in range(10):
    print(lst)
    lst.append(lst[-1]+lst[-2])

[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

This example demonstrates how flow control, could be used in a simple login system, give it a try below!

In [128]:
countdown = 5 # Creating a variable to track the amount of tries left to input the correct password

# Example of flow control being nested(put inside each other), this example loop allows for 6 runs before stopping
for i in range(6):
    password=str(input("enter your password:"))#Try entering a variety of inputs and see what happens!
    if(password == "python"): # The actual password
        print("Success!")
        break # break is used to break out of the loop
    if(countdown <= 0): # If countdown hits 0 or a negative value execute the statement underneath
        print("Login failed!")
    else:
        print(f"\n{countdown} Login attemps remaining!") # Display the amount of login attemps left
    countdown -= 1 # Reduce the countdown number by 1 every run

enter your password:python
Success!

# **Functions in Python**

In programming we often come across situations where a particular block of code needs to be repeated or reused. Thus the concept of functions comes into play. A function is basically a block of code which performs a specific task.

Functions make the entire code look more organised and manageable. They allow reusability of code and organise the program into small modular chunks.

**Syntax of a Function**

In [129]:
def name_of_function(parameter):
    statements

The above example illustrates how a function typically looks like. Notice it contains three parts -
1. Keyword def that marks the start of the function header.
2. A unique function name which helps in identifying the function.
3. Parameters which help us in passing values through the function. They are also known as arguments and are optional.
4. Statements consist of the code which performs the specific task for which the function is defined.

In [130]:
def sum(x, y): #This example shows a function which can add two numbers x & y
    s = x+y
    return s

**Function Call**

In [134]:
num_1 = 27
num_2 = 23
print (sum(num_1,num_2)) #Notice how the two numbers are passed into the 'sum' function

50

Functions can be user-defined or built-in. Can you point out an example of each?

In [131]:
#write your answer here

Write a function in Python to convert celsius Scale to Fahrenheit Scale

In [133]:
#Write your answer here

# Modules in Python

Modules refer to a file containing Python statements and definitions.

A file containing Python code, for example: test.py, is called a module, and its module name would be test.

We use modules to break down large programs into small manageable and organized files. Furthermore, modules provide reusability of code.

We can define our most used functions in a module and import it, instead of copying their definitions into different programs.

In [135]:
# import statement example
# to import standard module math

import math
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

# Packages in Python

We often use a well organised directory to store folders & files in our computer. Similarly in python we often organise a group of modules together in a package. This heirarchy of organisation is analogous to a directory consisting of folders and files where you can considrer a package to be analogous to a folder whereas a module is analogous to a file.

Just like a folder contains multiple files a package can contain multiple modules.

As our program grows larger in size with a lot of modules, we group similar modules in one package and different modules in different packages. This makes a program easy to manage and conceptually clear.

A directory must contain a file named __init__.py in order for Python to consider it as a package. This file can be left empty but we generally place the initialization code for that package in this file.

In [136]:
#Numpy is a popular package for scientific and mathematical computing in Python.
#In the example below we are adding two 2*2 matrices
import numpy as np

a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
print(a+b)

[[ 6  8]
 [10 12]]

# **Bonus Exercise**

<br>Make a simple calculator that does simple calculations. Here you would have to do some String manipulations then, identify the operator used in the input then print out the value of the calculation. These basic operators should be accepted by your implementation! **+ - * /** *Addition, Subtraction, Multiplication and Division.*
<br><br> For Example, input would be "1+2" or "1\*2", etc<br>string(*input*("Enter values in the form: "number operator number"))

<br><br>Feel free to use online resources to aid you with this.

<br> ***Hint***: Use Type-Conversion after extracting the operator and numbers.

In [139]:
#Make additional changes or add functions if you need to

#myCalculator takes in the argument (inputString) passed in from the user-input (Your Keyboard)
#An example input would be in this form: '1+2' or '3-2', etc
def myCalculator(inputString):
  #Extract the numbers and operator from the inputString

    #++++++Codes under here!-------
    #Hint: Use Slicing to obtain the numbers and operator! Then use type conversion to obtain the number and character!

    #++++++Codes above here!-------

 #The function arguments in this example should be derived from splitting up the input string above!
  printCalculation(num1,operator,num2) #This is an example of what values go into the function! printCalculation(1,'+',2)

#printCalculation takes in the arguments of the first number in the string, the operator, the second number
def printCalculation(num1,operator,num2):
    if(operator == '+'): #Add the other operators with elif!
        print(num1,' ',operator, ' ', num2, ' = ',num1+num2) #The output will be displayed as "1 + 2 = 3" for example
    else:
        print("Error!") #This just checks if you have entered the input correctly!

#Input here!
inputString = input("EG.'1+2' ")
myCalculator(inputString)

EG.'1+2' 3

NameError: name 'num1' is not defined